@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: italic;
}

body {
  background-color: rgb(219, 216, 236);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 2rem;
}

button {
  background-color: rgb(202, 202, 202);
}

.main {
  width: 90%;
  margin: auto;
  margin-bottom: 2rem;
  flex: 1;
}

.landing-page-main {
  font-size: x-large;
}

.looking-for-job {
  margin: 8rem 0 0 10rem;
  background-color: #3498db;
}

.dive-in {
  margin: 1rem 0 0 15rem;
  background-color: #8fb9d4;
  transform: skewX(20deg);
}

.signin-text {
  margin: 3rem 0 0 15rem;
  background-color: #3498db;
  transform: skewX(20deg);
}

.question {
  margin: 1rem 0 0 20rem;
}

.signup-text {
  margin: 1rem 0 0 18rem;
}

.footer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 1rem;
  color: rgb(183, 26, 204);
}

.footer-line {
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to left,
    rgba(183, 26, 204, 0.2),
    rgb(183, 26, 204),
    rgba(183, 26, 204, 0.2)
  );
  border-radius: 50%;
}
